---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Section from "../layouts/Section.astro";
import ServiceShowcase from "../components/ServiceShowcase.astro";
import "../styles/global.css";
import ProfileIconsGraphic from "../react/ProfileIconsGraphic.tsx";
import SelectionItems from "../react/SelectionItems.tsx";
import { getEntry, type CollectionEntry } from "astro:content";
import TestimonialSlider from "../react/TestimonialSlider.tsx";
import FAQ from "../react/FAQ.tsx";
import ContactForm from "../react/ContactForm.tsx";
import HeroCarousel from "../react/HeroCarousel.tsx";
import Button from "../react/Button";
import { withBase } from "../utils/withBase";
import TeamPlayer from "../react/TeamPlayer";
import Carousel from "../react/Carousel.tsx";

const homepage = (await getEntry(
  "homepage",
  "-index"
)) as CollectionEntry<"homepage">;
const {
  buttons,
  hero,
  services,
  results,
  profiles,
  advantages,
  logocarousel,
  testimonials,
  our_process,
  team_player,
  for_who,
  faq,
  form,
} = homepage.data;
---

<Layout>
  <Section className="flex w-full justify-between desktop:flex-row flex-col">
    <div
      class="left-part py-80 max-w-[600px] w-full desktop:w-1/2 flex flex-col gap-24"
    >
      <div class="flex flex-col gap-24">
        <h1
          set:html={hero.title}
          class="heading-2xl text-title-grey font-medium"
        />
        <p class="heading-xs font-light text-description-grey">
          {hero.description}
        </p>
      </div>
      <div class="flex gap-24">
        <Button
          client:visible
          size="L"
          variant="primary"
          subjectOption="Dogovoriti demo">{buttons["schedule_demo"]}</Button
        >
        <Button
          client:visible
          size="L"
          variant="secondary"
          subjectOption="Poslati upit">{buttons["contact_us"]}</Button
        >
      </div>
    </div>
    <HeroCarousel client:visible />
  </Section>
  <Section id="services" className="gap-80 flex flex-col" pt pb>
    <div class="top-part flex flex-col gap-40">
      <h2 class="heading-2xl font-light text-title-grey">
        {services.title}
      </h2>
      <p class="body-xl font-light text-description-grey">
        {services.subtitle}
      </p>
    </div>
    <div class="grid tablet:grid-cols-2 grid-cols-1 gap-44">
      {
        Object.values(services.items).map((service, index) => (
          <ServiceShowcase service={service} index={index + 1} />
        ))
      }
    </div>
  </Section>
  <Section
    id="interpretation"
    className="flex w-full justify-between desktop:flex-row flex-col gap-80"
    pt
    pb
  >
    <div
      class="left-part max-w-[600px] w-full desktop:w-1/2 flex flex-col gap-24"
    >
      <div class="flex flex-col gap-24">
        <h2 class="heading-2xl text-title-grey font-light">
          {results.title}
        </h2>
        <p class="body-xl font-light text-description-grey">
          {results.description}
        </p>
      </div>
      <Button
        client:visible
        size="L"
        variant="primary"
        className="w-fit mt-8"
        subjectOption="Dogovoriti interpretaciju"
      >
        {buttons["schedule_iterpretation"]}
      </Button>
    </div>
    <Image
      class="desktop:absolute relative right-0 top-0 w-full xldesktop:-translate-x-80 desktop:w-2/5 h-full desktop:rounded-l-32 xldesktop:rounded-r-32 desktop:rounded-r-0 rounded-t-32 rounded-b-0 object-cover"
      src={withBase("/images/results.webp")}
      alt="JobMatch result"
      width={500}
      height={500}
    />
  </Section>
  <Section pt pb className="flex justify-center">
    <div class="flex flex-col gap-56 items-center">
      <div class="flex flex-col gap-24 max-w-[780px] items-center">
        <h2
          set:html={profiles.title}
          class="heading-2xl text-title-grey font-light text-center"
        />
        <p
          class="body-xl font-light text-description-grey text-center max-w-[600px]"
        >
          {profiles.description}
        </p>
        <div class="flex gap-24 justify-center">
          <Button
            client:visible
            size="L"
            variant="primary"
            subjectOption="Dogovoriti demo"
          >
            {buttons["schedule_demo"]}
          </Button>
          <Button
            client:visible
            size="L"
            variant="secondary"
            subjectOption="Poslati upit"
          >
            {buttons["contact_us"]}
          </Button>
        </div>
      </div>
      <ProfileIconsGraphic client:visible />
    </div>
  </Section>
  <Section id="advantages" pt pb className="flex flex-col gap-80">
    <div class="flex flex-col gap-40">
      <h2
        set:html={advantages.title}
        class="heading-2xl text-title-grey font-light"
      />
      <p class="body-xl font-light text-description-grey max-w-[600px]">
        {advantages.subtitle}
      </p>
    </div>
    <SelectionItems client:idle items={advantages.items} />
  </Section>
  <Section id="testimonials" pt pb>
    <TestimonialSlider client:idle testimonials={testimonials} />
  </Section>
  <Section id="process" pt pb className="flex flex-col gap-80">
    <h2 class="heading-2xl text-title-grey font-light">
      {our_process.title}
    </h2>
    <div class="flex gap-24 desktop:flex-row flex-col">
      {
        our_process.items.map((item, index) => (
          <div class="flex flex-col w-full gap-24 bg-[#F7F7F7] p-24 rounded-32">
            <Image
              src={withBase(`/icons/process-${index + 1}.png`)}
              alt="JobMatch process"
              width={56}
              height={56}
            />
            <h3 class="heading-xs text-title-grey font-medium">{item.title}</h3>
            <p class="body-l font-light text-description-grey">
              {item.description}
            </p>
          </div>
        ))
      }
    </div>
  </Section>
  <Section pt pb className="">
    <TeamPlayer client:visible team_player={team_player} buttons={buttons} />
  </Section>
  <Section pt pb>
    <Carousel client:visible slides={logocarousel} height={350} />
  </Section>
  <Section pt pb className="flex flex-col gap-80">
    <h2
      class="heading-2xl text-title-grey font-light"
      class:list={["max-w-[600px]"]}
    >
      {for_who.title}
    </h2>
    <div class="grid tablet:grid-cols-4 grid-cols-1 gap-0">
      {
        for_who.items.map((item, index) => (
          <div
            class:list={[
              "flex flex-col gap-24 px-24 tablet:first:pl-0 tablet:last:pr-0 py-16",
              {
                "tablet:border-r tablet:border-b-0  border-b border-stroke-grey-primary":
                  index !== for_who.items.length - 1,
              },
            ]}
          >
            <h3 class="heading-xs text-title-grey font-medium">{item.title}</h3>
            <p class="body-l font-light text-description-grey">
              {item.description}
            </p>
          </div>
        ))
      }
    </div>
  </Section>
  <Section id="faq" pt pb className="flex flex-col gap-80">
    <div class="flex flex-col gap-40">
      <h2 class="heading-2xl text-title-grey font-light">
        {faq.title}
      </h2>
    </div>
    <FAQ client:idle items={faq.items} />
  </Section>
  <Section
    id="contact"
    pt
    pb
    className="flex w-full justify-between desktop:flex-row flex-col gap-80"
  >
    <div class="max-w-[400px] flex flex-col gap-56">
      <h2
        set:html={form.title}
        class="heading-2xl text-title-grey font-semibold"
      />
      <div class="flex flex-col gap-10">
        <a
          href="tel:+385953453521"
          class="body-l font-light text-description-grey"
        >
          <span class="font-medium">Tel:</span>
          +385 95 345 3521
        </a>
        <a
          href="mailto:info@jobmatchtalent.hr"
          class="flex gap-10 body-l font-light"
        >
          <span class="font-medium">Email:</span>
          <span class="">info@jobmatchtalent.hr</span>
        </a>
      </div>
    </div>

    <ContactForm client:only="react" form={form} />
  </Section>
</Layout>
